In [99]:
# Data manipulation
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.model_selection import  train_test_split

import sys
path_append = "../"
sys.path.append(path_append)  # Go up one directory from where you are.

from ccnets.config import get_parser
from ccnets.ccnets import CCNets
from ccnets.resnets import ResNets
from nn.custom_deepfm import DeepFM
from nn.custom_dnn import ResMLP, MLP 
from ccnets.utils.log import create_log_details, create_log_name
from ccnets.utils.setting import set_random_seed
import torch
import os
from torch.utils.tensorboard import SummaryWriter

In [100]:
df = pd.read_csv('./data/employee_data.csv')
df.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   object
 4   ExitDate                    1533 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: int64(3), object(23)
memory usage: 609.5+ KB

In [102]:
drop_cols = ['EmpID', 'ADEmail', 'Supervisor','FirstName', 'LastName', 'StartDate', 'ExitDate', 'TerminationDescription', 'DOB', 'LocationCode']
df.drop(columns=drop_cols, axis = 1, inplace=True)
df.head()

,Title,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,DepartmentType,Division,State,JobFunctionDescription,GenderCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,Production Technician I,CCDR,Active,Contract,Zone C,Temporary,Unk,Production,Finance & Accounting,MA,Accounting,Female,White,Widowed,Fully Meets,4
1,Production Technician I,EW,Active,Contract,Zone A,Part-Time,Unk,Production,Aerial,MA,Labor,Male,Hispanic,Widowed,Fully Meets,3
2,Area Sales Manager,PL,Active,Full-Time,Zone B,Part-Time,Unk,Sales,General - Sga,MA,Assistant,Male,Hispanic,Widowed,Fully Meets,4
3,Area Sales Manager,CCDR,Active,Contract,Zone A,Full-Time,Unk,Sales,Finance & Accounting,ND,Clerk,Male,Other,Single,Fully Meets,2
4,Area Sales Manager,TNS,Active,Contract,Zone A,Temporary,Unk,Sales,General - Con,FL,Laborer,Female,Other,Married,Fully Meets,3

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       3000 non-null   object
 1   BusinessUnit                3000 non-null   object
 2   EmployeeStatus              3000 non-null   object
 3   EmployeeType                3000 non-null   object
 4   PayZone                     3000 non-null   object
 5   EmployeeClassificationType  3000 non-null   object
 6   TerminationType             3000 non-null   object
 7   DepartmentType              3000 non-null   object
 8   Division                    3000 non-null   object
 9   State                       3000 non-null   object
 10  JobFunctionDescription      3000 non-null   object
 11  GenderCode                  3000 non-null   object
 12  RaceDesc                    3000 non-null   object
 13  MaritalDesc                 3000 non-null   object
 14  Performance Score           3000 non-null   object
 15  Current Employee Rating     3000 non-null   int64
dtypes: int64(1), object(15)
memory usage: 375.1+ KB

In [104]:
df['Current Employee Rating'].value_counts()

Current Employee Rating
3    1530
2     510
4     419
1     271
5     270
Name: count, dtype: int64

In [105]:
target = 'Current Employee Rating'

X = df.drop(target, axis = 1)
y = df[target]

In [106]:
oh_encoder = OneHotEncoder()
X = oh_encoder.fit_transform(X).toarray()
X

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [107]:
y = y.astype(str)
y = pd.get_dummies(y)
y = y.astype(int)

In [108]:
X = pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,...,208,209,210,211,212,213,214,215,216,217
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [109]:
print(X.shape)
print(y.shape)
print(X.info())

(3000, 218)
(3000, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 218 entries, 0 to 217
dtypes: float64(218)
memory usage: 5.0 MB
None

In [110]:
class Dataset(torch.utils.data.Dataset):
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __len__(self):
        return len(self.x)

    def __getitem__(self, index):
        vals = torch.tensor(self.x[index], dtype = torch.float32)
        label = torch.tensor(self.y[index], dtype= torch.float32).unsqueeze(-1)
        return vals, label

In [111]:
args = get_parser()
args.device = torch.device('cuda:0' if (torch.cuda.is_available() and args.ngpu > 0) else "cpu")

In [112]:
import IPython ; file_path = IPython.extract_module_locals()[1]['__vsc_ipynb_file__']
from pathlib import Path
file_name = Path(file_path).stem
model_path = path_append + f"models/{file_name}/"
temp_path = path_append + f"models/{'temp_'}{file_name}/"
log_path = path_append + f"log/{file_name}/"


if Path(temp_path).exists() is False: 
    os.mkdir(temp_path)

if Path(model_path).exists() is False: 
    os.mkdir(model_path)

if Path(log_path).exists() is False: 
    os.mkdir(log_path)  

args.model_path = model_path
args.temp_path = temp_path

In [113]:
args.num_epoch = 1000
args.lr = 2e-4
args.batch_size = 64
args.step_size = 10

args.num_layer = 3
args.hidden_size = 256

args.obs_size = 218
args.label_size = 1
args.explain_size = 218//2
args.seq_len = 0

args.num_checkpoints = 100
args.use_one_hot = False

args.reasoner_joint_type = "add"
args.producer_joint_type = "add"
args.label_type = "C" 

args.obs_fn = "none"
args.label_fn = "none"

In [114]:
test_size = 0.2

X = X[:]
# args.num_epoch = int(round(3.2/(1 - test_size)))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size, shuffle= False)


X_train = X_train.iloc[:, :].values 
X_test = X_test.iloc[:, :].values 
y_train = y_train.iloc[:, -1].values
y_test = y_test.iloc[:, -1].values

trainset = Dataset(X_train, y_train)
testset = Dataset(X_test, y_test)

In [115]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2400, 218)
(600, 218)
(2400,)
(600,)

In [116]:

args.loss_type = "L1"
args.error_type = "Sub"
args.loss_reduction = "all"
args.error_reduction = "none"
log_details = create_log_details(args)
args.log = SummaryWriter(log_dir=create_log_name(log_path, log_details))
set_random_seed(0)

ccnets = CCNets(args, MLP, DeepFM, ResMLP)
ccnets.train(trainset, testset)

# args.loss_type = "MSE"
# args.loss_reduction = "all"
# log_details = create_log_details(args)
# args.log = SummaryWriter(log_dir=create_log_name(log_path, log_details))
# set_random_seed(0)
# resnets = ResNets(args, MLP, DeepFM)
# resnets.train(trainset, testset)

  0%|          | 0/1000 [00:00<?, ?it/s]

[2/1000][25/38][Time 2.31]
Opt-Adam lr: 0.00019908190206581545
Inf: 0.0007	Gen: 0.0757	Rec: 0.0755	E: 0.0009	R: 0.0005	P: 0.1506
auc: 0.5142
[5/1000][14/38][Time 2.18]
Opt-Adam lr: 0.0001981680186507147
Inf: 0.0001	Gen: 0.0690	Rec: 0.0690	E: 0.0001	R: 0.0001	P: 0.1379
auc: 0.4624
[8/1000][3/38][Time 2.25]
Opt-Adam lr: 0.0001972583304079914
Inf: 0.0001	Gen: 0.0686	Rec: 0.0686	E: 0.0001	R: 0.0001	P: 0.1371
auc: 0.4787
[10/1000][29/38][Time 2.46]
Opt-Adam lr: 0.00019635281807975005
Inf: 0.0001	Gen: 0.0680	Rec: 0.0680	E: 0.0002	R: 0.0001	P: 0.1358
auc: 0.5005
[13/1000][18/38][Time 2.19]
Opt-Adam lr: 0.0001954514624964984
Inf: 0.0002	Gen: 0.0649	Rec: 0.0648	E: 0.0003	R: 0.0001	P: 0.1295
auc: 0.4889
[16/1000][7/38][Time 2.21]
Opt-Adam lr: 0.00019455424457674148
Inf: 0.0002	Gen: 0.0598	Rec: 0.0597	E: 0.0002	R: 0.0001	P: 0.1193
auc: 0.5215
[18/1000][33/38][Time 2.35]
Opt-Adam lr: 0.00019366114532657779
Inf: 0.0001	Gen: 0.0593	Rec: 0.0593	E: 0.0001	R: 0.0001	P: 0.1186
auc: 0.4661
[21/1000][22/38][Time 2.18]
Opt-Adam lr: 0.0001927721458392971
Inf: 0.0000	Gen: 0.0591	Rec: 0.0591	E: 0.0000	R: 0.0000	P: 0.1181
auc: 0.5145
[24/1000][11/38][Time 2.52]
Opt-Adam lr: 0.00019188722729498022
Inf: 0.0000	Gen: 0.0590	Rec: 0.0590	E: 0.0000	R: 0.0000	P: 0.1179
auc: 0.4902
[27/1000][0/38][Time 2.27]
Opt-Adam lr: 0.00019100637096010063
Inf: 0.0001	Gen: 0.0588	Rec: 0.0588	E: 0.0001	R: 0.0000	P: 0.1175
auc: 0.5224
[29/1000][26/38][Time 1.91]
Opt-Adam lr: 0.00019012955818712785
Inf: 0.0001	Gen: 0.0583	Rec: 0.0583	E: 0.0001	R: 0.0000	P: 0.1165
auc: 0.4570
[32/1000][15/38][Time 2.05]
Opt-Adam lr: 0.00018925677041413275
Inf: 0.0000	Gen: 0.0581	Rec: 0.0581	E: 0.0000	R: 0.0000	P: 0.1161
auc: 0.4801
[35/1000][4/38][Time 2.22]
Opt-Adam lr: 0.00018838798916439447
Inf: 0.0000	Gen: 0.0579	Rec: 0.0579	E: 0.0000	R: 0.0000	P: 0.1158
auc: 0.4969
[37/1000][30/38][Time 1.86]
Opt-Adam lr: 0.00018752319604600944
Inf: 0.0000	Gen: 0.0578	Rec: 0.0578	E: 0.0000	R: 0.0000	P: 0.1156
auc: 0.4855
[40/1000][19/38][Time 1.94]
Opt-Adam lr: 0.00018666237275150185
Inf: 0.0000	Gen: 0.0577	Rec: 0.0577	E: 0.0000	R: 0.0000	P: 0.1154
auc: 0.5030
[43/1000][8/38][Time 2.05]
Opt-Adam lr: 0.00018580550105743617
Inf: 0.0000	Gen: 0.0575	Rec: 0.0575	E: 0.0000	R: 0.0000	P: 0.1150
auc: 0.5268
[45/1000][34/38][Time 1.82]
Opt-Adam lr: 0.0001849525628240314
Inf: 0.0000	Gen: 0.0568	Rec: 0.0568	E: 0.0000	R: 0.0000	P: 0.1135
auc: 0.4862
[48/1000][23/38][Time 1.84]
Opt-Adam lr: 0.000184103539994777
Inf: 0.0000	Gen: 0.0566	Rec: 0.0566	E: 0.0000	R: 0.0000	P: 0.1133
auc: 0.5031
[51/1000][12/38][Time 2.04]
Opt-Adam lr: 0.00018325841459605066
Inf: 0.0000	Gen: 0.0560	Rec: 0.0560	E: 0.0000	R: 0.0000	P: 0.1121
auc: 0.4384
[54/1000][1/38][Time 1.89]
Opt-Adam lr: 0.00018241716873673778
Inf: 0.0000	Gen: 0.0560	Rec: 0.0560	E: 0.0000	R: 0.0000	P: 0.1120
auc: 0.4526
[56/1000][27/38][Time 2.17]
Opt-Adam lr: 0.00018157978460785283
Inf: 0.0000	Gen: 0.0560	Rec: 0.0560	E: 0.0000	R: 0.0000	P: 0.1120
auc: 0.5191
[59/1000][16/38][Time 1.79]
Opt-Adam lr: 0.0001807462444821621
Inf: 0.0000	Gen: 0.0560	Rec: 0.0560	E: 0.0000	R: 0.0000	P: 0.1120
auc: 0.5156
[62/1000][5/38][Time 1.79]
Opt-Adam lr: 0.0001799165307138087
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1118
auc: 0.4781
[64/1000][31/38][Time 1.94]
Opt-Adam lr: 0.0001790906257379387
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1119
auc: 0.4796
[67/1000][20/38][Time 1.78]
Opt-Adam lr: 0.00017826851207032962
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1117
auc: 0.4918
[70/1000][9/38][Time 1.89]
Opt-Adam lr: 0.00017745017230702003
Inf: 0.0000	Gen: 0.0560	Rec: 0.0560	E: 0.0000	R: 0.0000	P: 0.1120
auc: 0.5104
[72/1000][35/38][Time 1.97]
Opt-Adam lr: 0.00017663558912394116
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1117
auc: 0.4703
[75/1000][24/38][Time 1.89]
Opt-Adam lr: 0.0001758247452765504
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1118
auc: 0.4848
[78/1000][13/38][Time 1.79]
Opt-Adam lr: 0.0001750176235994658
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1117
auc: 0.5089
[81/1000][2/38][Time 2.09]
Opt-Adam lr: 0.00017421420700610302
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1117
auc: 0.5029
[83/1000][28/38][Time 2.30]
Opt-Adam lr: 0.00017341447848831355
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1116
auc: 0.4594
[86/1000][17/38][Time 2.09]
Opt-Adam lr: 0.0001726184211160245
Inf: 0.0000	Gen: 0.0559	Rec: 0.0559	E: 0.0000	R: 0.0000	P: 0.1118
auc: 0.4556
[89/1000][6/38][Time 1.95]
Opt-Adam lr: 0.00017182601803688045
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1117
auc: 0.4940
[91/1000][32/38][Time 2.17]
Opt-Adam lr: 0.00017103725247588638
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1116
auc: 0.4783
[94/1000][21/38][Time 2.15]
Opt-Adam lr: 0.0001702521077350528
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1116
auc: 0.4862
[97/1000][10/38][Time 2.30]
Opt-Adam lr: 0.00016947056719304225
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1115
auc: 0.4832
[99/1000][36/38][Time 2.10]
Opt-Adam lr: 0.00016869261430481718
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1116
auc: 0.4775
[102/1000][25/38][Time 1.92]
Opt-Adam lr: 0.00016791823260128998
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1116
auc: 0.4774
[105/1000][14/38][Time 2.24]
Opt-Adam lr: 0.00016714740568897417
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1115
auc: 0.5031
[108/1000][3/38][Time 2.41]
Opt-Adam lr: 0.0001663801172496374
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1115
auc: 0.4674
[110/1000][29/38][Time 2.35]
Opt-Adam lr: 0.00016561635103995602
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1114
auc: 0.4228
[113/1000][18/38][Time 2.87]
Opt-Adam lr: 0.00016485609089117123
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1114
auc: 0.4995
[116/1000][7/38][Time 2.19]
Opt-Adam lr: 0.0001640993207087466
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1115
auc: 0.4748
[118/1000][33/38][Time 2.06]
Opt-Adam lr: 0.00016334602447202768
Inf: 0.0000	Gen: 0.0558	Rec: 0.0558	E: 0.0000	R: 0.0000	P: 0.1115
auc: 0.4564
[121/1000][22/38][Time 2.28]
Opt-Adam lr: 0.00016259618623390255
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1114
auc: 0.4701
[124/1000][11/38][Time 2.24]
Opt-Adam lr: 0.00016184979012046443
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1113
auc: 0.4378
[127/1000][0/38][Time 2.39]
Opt-Adam lr: 0.00016110682033067543
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1113
auc: 0.4636
[129/1000][26/38][Time 2.41]
Opt-Adam lr: 0.00016036726113603222
Inf: 0.0000	Gen: 0.0556	Rec: 0.0556	E: 0.0000	R: 0.0000	P: 0.1112
auc: 0.4519
[132/1000][15/38][Time 2.30]
Opt-Adam lr: 0.0001596310968802331
Inf: 0.0000	Gen: 0.0557	Rec: 0.0557	E: 0.0000	R: 0.0000	P: 0.1114
auc: 0.4917
[135/1000][4/38][Time 1.95]
Opt-Adam lr: 0.0001588983119788463
Inf: 0.0000	Gen: 0.0556	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1111
auc: 0.4544
[137/1000][30/38][Time 2.06]
Opt-Adam lr: 0.00015816889091898033
Inf: 0.0000	Gen: 0.0556	Rec: 0.0556	E: 0.0000	R: 0.0000	P: 0.1113
auc: 0.4715
[140/1000][19/38][Time 2.12]
Opt-Adam lr: 0.00015744281825895543
Inf: 0.0000	Gen: 0.0556	Rec: 0.0556	E: 0.0000	R: 0.0000	P: 0.1111
auc: 0.4933
[143/1000][8/38][Time 2.31]
Opt-Adam lr: 0.00015672007862797672
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1110
auc: 0.4399
[145/1000][34/38][Time 1.82]
Opt-Adam lr: 0.0001560006567258088
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1110
auc: 0.4487
[148/1000][23/38][Time 1.88]
Opt-Adam lr: 0.00015528453732245178
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1109
auc: 0.4445
[151/1000][12/38][Time 2.15]
Opt-Adam lr: 0.00015457170525781913
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1109
auc: 0.4643
[154/1000][1/38][Time 2.14]
Opt-Adam lr: 0.00015386214544141615
Inf: 0.0000	Gen: 0.0556	Rec: 0.0556	E: 0.0000	R: 0.0000	P: 0.1111
auc: 0.4738
[156/1000][27/38][Time 1.94]
Opt-Adam lr: 0.00015315584285202136
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1109
auc: 0.4510
[159/1000][16/38][Time 2.44]
Opt-Adam lr: 0.00015245278253736772
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1109
auc: 0.4534
[162/1000][5/38][Time 2.13]
Opt-Adam lr: 0.00015175294961382652
Inf: 0.0000	Gen: 0.0555	Rec: 0.0555	E: 0.0000	R: 0.0000	P: 0.1110
auc: 0.4647
[164/1000][31/38][Time 2.16]
Opt-Adam lr: 0.00015105632926609223
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.4150
[167/1000][20/38][Time 2.13]
Opt-Adam lr: 0.00015036290674686875
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.4628
[170/1000][9/38][Time 2.61]
Opt-Adam lr: 0.00014967266737655736
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.4379
[172/1000][35/38][Time 2.10]
Opt-Adam lr: 0.00014898559654294584
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.4995
[175/1000][24/38][Time 2.20]
Opt-Adam lr: 0.0001483016797008992
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1109
auc: 0.4554
[178/1000][13/38][Time 1.92]
Opt-Adam lr: 0.00014762090237205175
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.4742
[181/1000][2/38][Time 2.09]
Opt-Adam lr: 0.0001469432501445005
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.5052
[183/1000][28/38][Time 2.28]
Opt-Adam lr: 0.0001462687086725004
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4755
[186/1000][17/38][Time 1.99]
Opt-Adam lr: 0.00014559726367616006
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4860
[189/1000][6/38][Time 1.98]
Opt-Adam lr: 0.00014492890094114008
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4569
[191/1000][32/38][Time 2.35]
Opt-Adam lr: 0.00014426360631835156
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4900
[194/1000][21/38][Time 2.96]
Opt-Adam lr: 0.00014360136572365712
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1108
auc: 0.4627
[197/1000][10/38][Time 2.31]
Opt-Adam lr: 0.00014294216513757228
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.5027
[199/1000][36/38][Time 1.89]
Opt-Adam lr: 0.00014228599060496895
Inf: 0.0000	Gen: 0.0554	Rec: 0.0554	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4631
[202/1000][25/38][Time 2.02]
Opt-Adam lr: 0.00014163282823477982
Inf: 0.0000	Gen: 0.0554	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4459
[205/1000][14/38][Time 2.24]
Opt-Adam lr: 0.00014098266419970449
Inf: 0.0000	Gen: 0.0552	Rec: 0.0552	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.4572
[208/1000][3/38][Time 2.20]
Opt-Adam lr: 0.00014033548473591658
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4676
[210/1000][29/38][Time 2.16]
Opt-Adam lr: 0.00013969127614277241
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.4757
[213/1000][18/38][Time 2.08]
Opt-Adam lr: 0.00013905002478252097
Inf: 0.0000	Gen: 0.0552	Rec: 0.0552	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.4658
[216/1000][7/38][Time 2.02]
Opt-Adam lr: 0.00013841171708001523
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.4767
[218/1000][33/38][Time 1.94]
Opt-Adam lr: 0.00013777633952242473
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.4588
[221/1000][22/38][Time 2.00]
Opt-Adam lr: 0.00013714387865894953
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.3813
[224/1000][11/38][Time 2.10]
Opt-Adam lr: 0.0001365143211005353
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.5322
[227/1000][0/38][Time 1.84]
Opt-Adam lr: 0.0001358876535195903
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1106
auc: 0.4760
[229/1000][26/38][Time 2.18]
Opt-Adam lr: 0.0001352638626497027
Inf: 0.0000	Gen: 0.0552	Rec: 0.0552	E: 0.0000	R: 0.0000	P: 0.1104
auc: 0.4239
[232/1000][15/38][Time 2.07]
Opt-Adam lr: 0.00013464293528536012
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1107
auc: 0.4637
[235/1000][4/38][Time 1.97]
Opt-Adam lr: 0.00013402485828166994
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.4498
[237/1000][30/38][Time 2.27]
Opt-Adam lr: 0.00013340961855408108
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.4520
[240/1000][19/38][Time 2.20]
Opt-Adam lr: 0.00013279720307810688
Inf: 0.0000	Gen: 0.0553	Rec: 0.0553	E: 0.0000	R: 0.0000	P: 0.1105
auc: 0.5023